# Functions

In [ ]:
def show():
  print("Welcome")

In [ ]:
show()

Welcome

In [ ]:
# Write a code to increment a no by 10

In [ ]:
# User Defined fro user

In [ ]:
a=input("Enter a no\t")

Enter a no	12

In [ ]:
print(a)

12

In [ ]:
type(a)

str

In [ ]:
a*2

'1212'

In [ ]:
# Type Casting

In [ ]:
x=2
y=7.9
z=2j

In [ ]:
p=int(y)
print(p)

7

In [ ]:
q=float(x)
print(q)

2.0

In [ ]:
# Add of 2 user defined no

In [ ]:
x=int(input("Enter a no\t"))
y=int(input("Enter a no\t"))
z=x+y
print("Add=\t",z)

Eneter a no	12
Eneter a no	45
Add=	 57

In [ ]:
# Add of 2 user defined no using a Function

In [ ]:
def add(x,y):
    z = x + y
    return (z)

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
ans = add(num1, num2)
print(ans)

Enter the first number: 2
Enter the second number: 3
5

In [ ]:
# Comapre 2 using If else with User Defined no

In [ ]:
def cmp(x,y):
  if(x>y):
    print("A is big")
  else:
    print("B is big")

In [ ]:
x=int(input("Enter a no\t"))
y=int(input("Enter a no\t"))

cmp(x,y)

Enter a no	2
Enter a no	1
A is big

In [ ]:
5

In [ ]:
# Write a code to display first 10 Odd No using Function and for loop

In [ ]:
def display():
  for i in range(0,10):
      print((i*2+1)," \t")
  
display()

1
3
5
7
9
11
13
15
17
19

In [3]:
def display():
  for i in range(0,10,2):
      print((i*1+2)," \t")
  
display()

2
4
6
8
10

In [4]:
#Odd Nno between 1 to 10
def display():
  for i in range(1,10,2):
      print(i)
  
display()

1
3
5
7
9

# Default Parameter Value

In [5]:
def my_function(country = "USA"):
  print("My Counry: " + country)

#my_function("India")
my_function()
my_function("Brazil")

My Counry: USA
My Counry: Brazil

# Passing a List as an Argument

In [ ]:
def my_function(temp):
  for x in temp:
    print(x)

abc = ["ABC","PQR",999,22]

my_function(abc)

ABC
PQR
999
22

## Return Values

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
# Addition of 2 no Return

In [ ]:
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        # recursive call to the function
        return (x * factorial(x-1))


  # Call a Factroal Function

num=int(input("Enter a no:"))
result = factorial(num)
print("The factorial of", num, "is", result)

Enter a no:5
The factorial of 5 is 120

# Lambda Function

* A lambda function is a small anonymous function.

* A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [ ]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# Local and Global Variable

In [1]:
a=50  # Global Variable

def myfun():
  b=30
  print(b)

print(a)

50

In [2]:
a=50  # Global Variable

def myfun():
  b=30
  print(b)

print(b)

NameError: ignored

In [ ]:
a=50  # Global Variable

def myfun():
  b=30
  return(b)

print("Global a=",a)
print("Local b=",myfun())

In [ ]:
basic=2000

def package(salary):
  total_salary=basic+salary
  print("Total Salary:\t",total_salary)

# CAll fun
package(50000)

## Global Keyword

In [ ]:


def myfun():
  global b
  b=30
  print("Inside Function b:",b)

myfun()
print("Outside function b:",b)